.modal {
  position: fixed;
  /* for mobile view it is good as top and left*/
  top: 20%;
  left: 5%;
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

/* it hide the background slightly for nice modal view  */
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

/* for bigger screen we position modal using media query */
@media (min-width: 48rem) {
  .modal {
    /* calc should have space between '-' or '+' operator */
    left: calc(50% - 20rem);
    width: 40rem;
  }
}